<div class="container" data-ng-controller="ShopFloorCtrl">
    <section class="loginContainer">
        <div class="logo"><img src="images/dashLogo.png" /></div>
        <ul class="loginControl">
            <li class="icon pwdControl"><input type="password" placeholder="Old Password" data-ng-model="oldPassword"></li>
            <li class="icon pwdControl"><input type="password" placeholder="New Password" data-ng-model="newPassword"></li>
            <li class="icon pwdControl"><input type="password" placeholder="Confirm Password" data-ng-model="confirmNewPassword"></li>
            <li><p id="error" class="text-error" data-ng-show="validationError.length > 0">
                {{validationError}}
            </p></li>
            <li>
                <input type="submit" value="Save" class="loginBtn" data-ng-click="savePassword()">
                <input type="submit" value="Cancel" class="loginBtn" data-ng-click="cancelPassword()">
                <div class="clear"></div>
            </li>
        </ul>
    </section>
</div>
