<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ofs.srv.dao.hrm.LeaveDao">

    <select id="getEmployeeLeaveInfo" parameterType="String" resultType="leaveBalance">
        SELECT res.name leaveType,
               res.default_per_year leavesPerYear,
               ifnull(sum(res.default_per_year - res.approved_leave), 0) availableLeaves,
               sum(ifnull(res.approved_leave,0)) approvedLeaves,
               sum(ifnull(res.pending_leave,0)) pendingApproval
        FROM
          ( SELECT l.name,
                   l.default_per_year,
                   CASE
                       WHEN res.status = 'Approved' THEN sum(res.leave_count)
                   END approved_leave,
                   CASE
                       WHEN res.status = 'Pending' THEN sum(ifnull(res.leave_count,0))
                   END pending_leave
           FROM leavetypes l
           LEFT OUTER JOIN
             ( SELECT l.name,
                      el.status,
                      TRIM(TRAILING '0' FROM SUM(CASE WHEN eld.leave_type = 'Full Day' THEN 1 ELSE .5 END)) leave_count
              FROM employeeleavedays eld
              JOIN employeeleaves el ON el.id = eld.employee_leave
              JOIN leavetypes l ON l.id = el.leave_type
              JOIN employees e ON e.id = el.employee
              JOIN users u ON u.employee = e.id
              WHERE u.username = #{loginName}
              GROUP BY l.name,
                       el.status ) res ON res.name = l.name
           GROUP BY l.name,
                    res.status ) res
        GROUP BY name;
    </select>

</mapper>